body {
    background-color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: cursive;
}

.container {
    display: flex;
    flex-direction: column;
}
/*navbar*/

.navbar {
    display: flex;
    color: white;
    background-color: #1F2937;
    align-items: center;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.navbar-logo {
    color: white;
    font-weight: 700;
    margin-right: auto;
    font-size: 20px;
}

.navbar-links {
    display: flex;
    margin-left: auto;
    padding: 0 100px 0 0;
}

.navbar-links a {
    text-decoration: none;
    color: #58749b;
    font-size: 18px;
    padding: 18px;
}